*{
	font-family: Times New Roman;
	box-sizing: border-box;
}
main{
	padding: 0;
	margin: 0;
}
body{
	padding: 0em;
	margin: 0;
	line-height: 1;
}
.title-header h1{
	margin: 0;
	padding: 0;
	text-align: center;
	display: inline-block;

}
.title-header h1 hr{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: black;
	text-decoration: underline;
}
.title-header{
	text-align: center;
}
body header{
	padding: 0;
	margin: 0;
}
body main{
	padding: 3em;
	font-size: 15px;
	padding-top: 1em;
}
body main h2{
	padding: 0;
	margin: 0;
}
.res-section{
}
.res-section p{
	margin-left: 1em;
	text-indent: 25px;
}
.res-section h2{
	text-align: center;
}
.exp-p{
	text-indent: 0;
}
.githubLink{
	text-align: right;
}
.res-section div{
	color:#00C8FD;
}
.res-section .left ul li{
	color: black;
	text-decoration: none;
	list-style-type: none;
}
.res-section .left{
	width:30%;
	display: inline-block;
		vertical-align: top;
}
.res-section .center ul li{
	color: black;
	text-decoration: none;
	list-style-type: none;
}
.skills{
	text-align: left;
}
.skills h2{
	text-align: left;
		color: black;
		padding-bottom: 1em;
		display: inline-block;
		float: left;
		position: absolute;
}
.wrapperSkills{
	text-align: center;
	width: 100%;
}
.res-section .center{
	width: 30%;
	display: inline-block;	
	margin:0;
}
.res-section .right{
	width: 30%;
	display: inline-block;	
	margin:0;
	text-align: center;
		vertical-align: top;
}
.res-section .right ul li{
	color: black;
	text-decoration: none;
	list-style-type: none;
}
footer{
	padding: 2em;
	margin: 0;
}