*{
	font-family: calibri;
	box-sizing: border-box;
}
body{
	padding: 2em;
	margin: 0;
	line-height: 1.5;
}
.title-header h1{
	margin: 0;
	padding: 0;
	text-align: center;
	display: inline-block;
}
.title-header h1 hr{
	margin: 0;
	padding: 0;
}
.title-header{
	text-align: center;
}
body header{
	padding: 0;
	margin: 0;
}
body main{
	padding: 3em;
	font-size: 18px;
	padding-top: 1em;
}
body main h2{
	padding: 0;
	margin: 0;
}
.res-section{
	padding: 1em;
	margin-bottom: 1em;
}
.res-section p{
	margin-left: 1em;
	text-indent: 25px;
}
.res-section h2{
	text-align: center;
}
.exp-p{
	text-indent: 0;
}